include modules/head/head
include modules/header/header
include modules/footer/footer
include modules/header/header
include modules/elements/elements

doctype html
html
  +head(head.p001_home)

  body
    p Test
    



